[Desktop Entry]
Type=Application
Name=Install TunaOS
Comment=Install TunaOS on this computer
Exec=tuna-installer-kde
Icon=org.tunaos.InstallerKde
Terminal=false
Categories=System;
Keywords=install;installer;tunaos;bootc;
